examples/adanos-market-sentiment.json
[
  {
    "id": "adanos-example-tab",
    "type": "tab",
    "label": "Adanos market sentiment",
    "disabled": false,
    "info": "Configure the Adanos API node with your API key before deploying."
  },
  {
    "id": "adanos-example-note",
    "type": "comment",
    "z": "adanos-example-tab",
    "name": "Add your API key to the Adanos API configuration",
    "info": "Credentials are not included when a flow is exported.",
    "x": 270,
    "y": 60,
    "wires": []
  },
  {
    "id": "inject-stock",
    "type": "inject",
    "z": "adanos-example-tab",
    "name": "TSLA",
    "props": [{ "p": "ticker", "v": "TSLA", "vt": "str" }],
    "once": false,
    "x": 110,
    "y": 120,
    "wires": [["adanos-stock-example"]]
  },
  {
    "id": "adanos-stock-example",
    "type": "adanos-stock",
    "z": "adanos-example-tab",
    "name": "Reddit stock",
    "connection": "adanos-example-config",
    "platform": "reddit",
    "ticker": "ticker",
    "tickerType": "msg",
    "from": "",
    "to": "",
    "days": "7",
    "x": 330,
    "y": 120,
    "wires": [["debug-stock"]]
  },
  {
    "id": "debug-stock",
    "type": "debug",
    "z": "adanos-example-tab",
    "name": "Stock result",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 570,
    "y": 120,
    "wires": []
  },
  {
    "id": "inject-crypto",
    "type": "inject",
    "z": "adanos-example-tab",
    "name": "BTC",
    "props": [{ "p": "symbol", "v": "BTC", "vt": "str" }],
    "once": false,
    "x": 110,
    "y": 180,
    "wires": [["adanos-crypto-example"]]
  },
  {
    "id": "adanos-crypto-example",
    "type": "adanos-crypto",
    "z": "adanos-example-tab",
    "name": "Reddit crypto",
    "connection": "adanos-example-config",
    "symbol": "symbol",
    "symbolType": "msg",
    "from": "",
    "to": "",
    "days": "7",
    "x": 330,
    "y": 180,
    "wires": [["debug-crypto"]]
  },
  {
    "id": "debug-crypto",
    "type": "debug",
    "z": "adanos-example-tab",
    "name": "Crypto result",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 570,
    "y": 180,
    "wires": []
  },
  {
    "id": "inject-trending",
    "type": "inject",
    "z": "adanos-example-tab",
    "name": "Trending news",
    "props": [{ "p": "payload" }],
    "once": false,
    "x": 130,
    "y": 240,
    "wires": [["adanos-trending-example"]]
  },
  {
    "id": "adanos-trending-example",
    "type": "adanos-trending",
    "z": "adanos-example-tab",
    "name": "Trending news",
    "connection": "adanos-example-config",
    "market": "news",
    "limit": 10,
    "offset": 0,
    "from": "",
    "to": "",
    "days": "",
    "x": 330,
    "y": 240,
    "wires": [["debug-trending"]]
  },
  {
    "id": "debug-trending",
    "type": "debug",
    "z": "adanos-example-tab",
    "name": "Trending result",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 580,
    "y": 240,
    "wires": []
  },
  {
    "id": "inject-compare",
    "type": "inject",
    "z": "adanos-example-tab",
    "name": "Compare stocks",
    "props": [{ "p": "assets", "v": "[\"NVDA\",\"AMD\"]", "vt": "json" }],
    "once": false,
    "x": 130,
    "y": 300,
    "wires": [["adanos-compare-example"]]
  },
  {
    "id": "adanos-compare-example",
    "type": "adanos-compare",
    "z": "adanos-example-tab",
    "name": "Compare stocks",
    "connection": "adanos-example-config",
    "market": "x",
    "assets": "assets",
    "assetsType": "msg",
    "from": "",
    "to": "",
    "days": "7",
    "x": 330,
    "y": 300,
    "wires": [["debug-compare"]]
  },
  {
    "id": "debug-compare",
    "type": "debug",
    "z": "adanos-example-tab",
    "name": "Compare result",
    "active": true,
    "tosidebar": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 580,
    "y": 300,
    "wires": []
  },
  {
    "id": "adanos-example-config",
    "type": "adanos-config",
    "name": "Adanos API"
  }
]
